<ion-view view-title="Zusatzfragen">
    <ion-content>
        <div class="row row-center">
            <div class="col">
                <h5>
                    <p>
                        Bitte wählen Sie das Bild, <br>
						das Ihre Wahrnehmung am besten beschreibt:
                    </p>
                </h5>
				<!--ng-if="false"-->
                <label class="item item-input">
                    <input type="text" placeholder="PLZ" >
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="ORT">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Datum Zeit">
                </label>
            </div>
        </div>
        <div class="row row-center">
            <div class="col">
                <button class="button button-assertive" ng-click="goToComics()">
                    Weiter
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>