<ion-view view-title="Erdbeben verspürt">
    <ion-content>
        <div class="row row-center">
            <div class="col">

                <h5>
                    <p>
                        The following data are collected for scientific<br>
                        purposes only They refer to the place where you<br>
                        experienced the earthquake
                    </p>
                </h5>
                <label class="item item-input">
                    <input type="text" placeholder="PLZ">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="ORT">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Datum">
                    <input type="text" placeholder="Zeit">
                </label>
            </div>
        </div>
        <div class="row row-center">
            <div class="col">
                <button class="button button-assertive" ng-click="goToComics()">
                    Weiter
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>