<ion-view view-title="Beben Wahrnehmung">
    <ion-content>

<div class="row responsive-sm">
  <div class="col">.Schwach verspürt:<br>
                    Leichtes Zittern oder Rütteln.Lampen/hängende Objekte pendeln schwach.</div>

  <div class="col">Deutlich verspürt:<br>
                   Deutliches Rütteln von Möbeln(z.B.Sessel,Bett), Türen und Fensterläden. Gläser und Geschirr klirren.Wenige Schlafende erwachen.</div>

  <div class="col">Stark verspürt:<br>
                   Erschreckend. Viele Schlafende erwachen. Starkes Rütteln oder Schaukeln des gesamten Gebäudes. Geschirr und Gläser klirren laut.
                   Lampen pendeln stark. Kleine Objekte werden verschoben oder fallen um. Vereinzelt sind feine Risse im Verputz möglich.</div>

  <div class="col">Leichte Gebäudeschäden:<br>
                   Viele erschrecken, einige flüchten aus Angst ins Freie. Möbel und Bilderwerden verschoben. Gegenstände fallen um.
                   Möglich sind Risse in Wänden, Abfallen von Verputzteilen und leichte Beschädigung von Rauchfängen.</div>

  <div class="col">Gebäudeschäden:<br>
                   Die meisten sind verängstigt, viele flüchten ins Freie. Gleichgewichtsprobleme. Viele Gegenstände fallen aus den Regalen.
                   Tiefe Mauerrisse.Teilweiser Einsturz von Rauchfängen. In älteren Gebäuden können Zwischenwände einstürzen.</div>

  <div class="col">Schwere Gebäudeschäden:<br>
                   Panik. Verlieren des Gleichgewichts. Schwere Gegenstände fallen zu Boden. Umfallen von Möbelstücken möglich.
                   Schwere Mauerschäden.Strukturelle Schäden an Gebäuden. Ältere Bauwerkestürzen ein.</div>
</div>

    </ion-content>
</ion-view>