<ion-modal-view id="modalDetail" class="mymodal assertive-bg">
    <ion-header-bar class="assertive-bg">
        <h1 class="title light">Erdbeben Verspürt?</h1>
        <!-- <a class="light" ng-click="closeBebenModal()">Schließen</a> -->
    </ion-header-bar>
    <ion-content>
        <div class="row row-center">
            <div class="col">
                <a class="button button-outline button-light button-width-full" ng-click="geradeJetzt()">
                    Ja, gerade jetzt
                </a>
            </div>
        </div>
        <div class="row row-center">
            <div class="col">
                <a class="button button-outline button-light button-width-full"  ng-click="vorMehrAls30Min()">
                    Vor mehr als 30 min
                </a>
            </div>
        </div>
    </ion-content>
</ion-modal-view>