<ion-view view-title="Beben Details">
    <ion-content>
        <div class="row">
            <div class="col col-25 col-bottom">
                <h1>{{mag}}</h1>
            </div>
            <div class="col">
                21. April 2015 <br>
                08:37 UTC+01:00<br>
                <p class="bold">{{flynn_region}}</p>
            </div>

        </div>

        <div class="row">
            <div class="col col-top">
                <hr><br>
                vor 23 Minuten
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p class="bold"> Standort: </p>{{lon}} Longitude {{lat}} Latitude
            </div>

        </div>
        <div class="row">
            <div class="col">
                <p class="bold"> Lokalzeit am Ort des Erdbebens: </p>{{time}}
            </div>

        </div>
        <div class="row">
            <div class="col">
                <p class="bold">Entfernung des Handy Standortes vom Beben : </p> 10 km
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-assertive footer-button">
        <a class="button button-full button-clear" ng-click="beben_verspuert()">
            Habe Beben dieses Verspürt
        </a>
    </div>
</ion-view>