<ion-view cache-view="false" view-title="Erdbeben verspürt">
    <ion-content scroll="false">
        <form ng-submit="goToComics()">
            <div class="row row-center">
                <div class="col">

                    <h5>
                        <p>
                            Diese Daten werden nur aus Forschungsspezifischen Zwecken gesammelt.<br>
                        </p>
                    </h5>
                    <ion-input class="item item-input">
                        <input class="my-input" type="number" placeholder="Postleitzahl" ng-model="input.zipCode" ng-pattern="/^\d{4}$/">
                    </ion-input>

                    <ion-input class="item item-input">
                        <input class="my-input" type="text" placeholder="Ort" ng-model="input.place" ng-pattern="/^\D+$/">
                    </ion-input>
					
					<ion-input class="item item-input">
                        <input class="my-input" type="text" placeholder="Stra&szlig;e" ng-model="input.strasse">
                    </ion-input>
					
                    <ionic-datepicker input-obj="datepickerObject">
                    <ion-input class="item">
                            {{input.date | date:datepickerObject.dateFormat}}
                    </ion-input>
                    </ionic-datepicker>
                    <ionic-timepicker input-obj="timePickerObject">
                    <ion-input class="item">
                        <standard-time-meridian etime='timePickerObject.inputEpochTime'>{{input.chosenTime}}
                        </standard-time-meridian>
                    </ion-input>
                    </ionic-timepicker>
                </div>
            </div>
            <div class="row row-center">
                <div class="col">
                    <button class="button button-assertive" type="submit" ng-show="input.zipCode && input.place">Weiter</button>
                </div>
            </div>
        </form>

    </ion-content>
</ion-view>