<ion-view view-title="Beben Details">
    <ion-content>
        <div class="row">
            <div class="col col-25 col-bottom">
                <h1 class="text-center">{{quake.magnitude}}</h1>
            </div>
            <div class="col">
                <span>{{quake.dateAndTime | amUtc | amLocal | amDateFormat:'LL'}}</span> <br>
                <span>{{quake.dateAndTime | amUtc | amLocal | amDateFormat:'HH:mm:ss'}}</span>
                <p class="bold">{{quake.country}}</p>
            </div>

        </div>
        <div class="row">
            <div class="col col-top">
                <hr>
                <span am-time-ago="quake.dateAndTime"></span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="bold"> Standort: </p>{{quake.locLon}} Longitude {{quake.locLat}} Latitude
            </div>

        </div>
        <div class="row">
            <div class="col">
                <p class="bold"> Lokalzeit am Ort des Erdbebens: </p><span>{{quake.ldate}} {{quake.ltime}} {{quake.ltz}}</span><br>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="bold">Entfernung des Handy Standortes vom Beben : </p> {{quake.distanceFromPhoneToQuake}}
            </div>
        </div>
		<div class="row">
            <div class="col">
                <p class="bold">Epizentrum: </p> <div id="map" data-tap-disabled="true"></div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar></ion-footer-bar>
    <div class="bar bar-footer bar-assertive footer-button">
        <a class="button button-full button-clear" ng-click="beben_verspuert()">
            Habe dieses Beben Verspürt
        </a>
    </div>
</ion-view>