<ion-view view-title="Beben Details">


    <ion-content scroll="false">
        <div class="row {{detailHeaderClass}}">
            <div class="col col-33 col-center">
                <h1 class="text-center">{{quake.magnitude}}</h1>
            </div>
            <div class="col">
                <span>{{quake.dateAndTime | amUtc | amLocal | amDateFormat:'LL'}}</span> <br>
                <span>{{quake.dateAndTime | amUtc | amLocal | amDateFormat:'HH:mm:ss'}}</span>

                <p class="bold">{{quake.country}}</p>
            </div>
        </div>
        <ion-scroll zooming="true" direction="y" class="myScroll">
            <div>
                <div class="row">
                    <div class="col col-top">
                        <span am-time-ago="quake.dateAndTime"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <p class="bold"> Standort: </p>{{quake.locLon}} Länge {{quake.locLat}} Breite <br>
                        <a ng-click="showMap()">
                            Auf der Karte anzeigen
                        </a>
                        <ng-map center=" {{quake.locLat}}, {{quake.locLon}} " zoom="12" ng-if="mapVisible"
                                disable-default-u-i="true">
                            <marker position=" {{quake.locLat}}, {{quake.locLon}} " title="{{quake.country}}"></marker>
                        </ng-map>
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <p class="bold"> Lokalzeit am Ort des Erdbebens: </p>
                        <span>{{quake.ldate}} {{quake.ltime}} {{quake.ltz}}</span><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="bold">Entfernung des Handy Standortes vom Beben : </p>
                        <span>{{quake.distanceFromPhoneToQuake}}</span>
                    </div>
                </div>
                <div class="row" ng-if="mapVisible">
                    <div class="col">
                        <p class="bold">Entfernung des Handy Standortes vom Beben : </p>
                    </div>
                </div>
            </div>
        </ion-scroll>
    </ion-content>
    <ion-footer-bar></ion-footer-bar>
    <div class="bar bar-footer bar-assertive footer-button">
        <a class="button button-full button-clear" ng-click="openBebenModal()">
            Habe dieses Beben Verspürt
        </a>
    </div>
</ion-view>