<ion-view view-title="QuakeWatch">
    <ion-header-bar class="bar-subheader">
        <div class="button-bar">
            <a class="button button-clear button-dark" ng-click="bebenAut()">Österreich</a>
            <a class="button button-clear button-dark" ng-click="bebenEu()">EU</a>
            <a class="button button-clear button-dark" ng-click="bebenWelt()">Welt</a>
        </div>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="beben in bebenliste" href="#/app/bebenDetail/{{beben.id}}">
                <div class="row">
                    <div class="col col-25 col-bottom">
                        <h1>{{beben.properties.mag}}</h1>
                    </div>
                    <div class="col">
                        {{beben.date}} {{beben.timeLocal}} <br>
                        <p class="bold">{{beben.properties.flynn_region}}</p>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
    <div class="bar bar-footer bar-assertive footer-button">
        <a class="button button-full button-clear" ng-click="beben_verspuert()">
            Habe Beben Verspürt
        </a>
    </div>
</ion-view>
