<ion-modal-view id="testID" class="mymodal assertive-bg">
    <ion-header-bar class="assertive-bg">
        <h1 class="title light">Erdbeben Verspürt?</h1>
        <a class="button button-clear whiteButton" ng-click="closeSelectModal()">Schließen</a>
    </ion-header-bar>

	
    <ion-content class="has-header has-footer">
	
        <ion-slide-box delegate-handle="modalSlider" show-pager="false">
            <ion-slide class="padding">
                <h3 class="light">Wann?</h3>
                <div class="row row-center">
                    <div class="col">
                        <a class="button button-outline button-light button-width-full" ng-click="getGeoLocation()">
                            Ja, gerade jetzt
                        </a>
                    </div>
                </div>
                <div class="row row-center">
                    <div class="col">
                        <a class="button button-outline button-light button-width-full"  ng-click="vorMehrAls30Min()">
                            Vor mehr als 30 min
                        </a>
                    </div>
                </div>
            </ion-slide>
            <ion-slide class="padding">
				<ion-scroll zooming="false" direction="y" id="scroll" style="height: 150px"> <!--style="height: 100px"-->
					<h3 class="light">Eines dieser Erdbeben?</h3>
					<a class="button button-outline button-light button-width-full"  ng-click="getGeoLocationWithId({{beben.id}})" ng-repeat="beben in letzteBeben">
						{{beben.date}}
					</a>
					<a class="button button-outline button-light button-width-full"  ng-click="anderesBeben()">
						Anderes Erdbeben
					</a>
				</ion-scroll>
				<!--
				DIESES SCHEIßDING WIRD NICHT AUSGEFUEHRT!!!eins!11elf!1
				script language="javascript" type="text/javascript">
					var myElement = document.querySelector("#scroll");
					myElement.style.height = "100px";
				</script-->
            </ion-slide>
        </ion-slide-box>

    </ion-content>
	

</ion-modal-view>