<ion-view view-title="Lexikon">
    <ion-content delegate-handle="verhaltenContent" overflow-scroll=true>
	
	<!-- Inhaltsverzeichniss mit Links -->
        <div class="list">
			<div class="item item-divider">
				A
			</div>
			<li class="item">
			<h2><b>ArcheoProspections</b></h2>
			<br><p>
			Zerstörungsfreie Methode zur Auffindung und <br>
			Kartierung verborgener archäologischer<br>
			Fundstellen. <br>
			Eingetragene Marke der ZAMG.<br>
			</p>
			</li>
			
			<li class="item">
			<h2><b>Atomtests</b></h2>
			<br><p>
			Ein Atomtest ist die Zündung eines nuklearen <br>
			Sprengsatzes zu Testzwecken.<br>
			</p>
			</li>
			
			<div class="item item-divider">
				B
			</div>
			
			<li class="item">
			<h2><b>Breitband - Stationen</b></h2>
			<br><p>
			Von Breitband - Instrumenten spricht man, <br>
			wenn diese ein breites Spektrum an <br>
			Bodenschwingungen (nanometer/s) unverzerrt <br>
			aufzeichnen(etwa 300 Sekunden bis 50 Hz).<br>
			</p>
			</li>
			
			<div class="item item-divider">
				D
			</div>
			
			<li class="item">
			<h2><b>Deklination</b></h2>
			<br><p>
			Der Hauptanteil des Erdmagnetfeldes verändert <br>
			sich nur sehr langsam (Säkularvariation) im <br>
			Zeitraum von tausenden von Jahren.<br>
			Kleinere Abweichungen von dieser Ausrichtung <br>
			bezeichnet man als Missweisung oder <br>
			Geographische Deklination.<br>
			</p>
			</li>
			
			<div class="item item-divider">
				E
			</div>
			
			<li class="item">
			<h2><b>Elektromagnetik</b></h2>
			<br><p>
			Bei der Elektromagnetik wird wie bei der <br>
			Geoelektrik die Leitfähigkeit des <br>
			Untergrundes ermittelt. <br>
			</p>
			</li>
			
			<li class="item">
			<h2><b>Erdbeben</b></h2>
			<br><p>
			Unter einem Erdbeben versteht man eine <br>
			Erschütterung der Erdkruste. Diese Erschütterung<br>
			kann verschiedene Ursachen haben.<br>
			Erst wenn die Ursache bekannt ist,<br>
			lassen sich gegebenenfalls auch Maßnahmen<br>
			zur Verhütung oder Schadensminderung treffen.<br>
			</p>
			</li>
			
			<li class="item">
			<h2><b>Erdbebengefährdung</b></h2>
			<br><p>
			Unter Erdbebengefährdung versteht man die <br>
			Wahrscheinlichkeit mit der an einem bestimmten <br>
			Standort eine gewisse Bodenbeschleunigung <br>
			innerhalb eines definierten Zeitraums erreicht <br>
			oder überschritten wird.<br>
			</p>
			</li>
			
			<li class="item">
			<h2><b>Erdbebenrisiko</b></h2>
			<br><p>
			Beim Erdbebenrisiko berücksichtigt man <br> 
			zusätzlich zur Erdbebengefährdung die <br>
			Auswirkung eines bestimmten Erdbebens <br>
			auf den Standort. Diese Folgewirkung<br>
			beinhaltet damit Annahmen über<br>
			die Bauwerksstabilität, Vermögenswerte, etc.<br>
			Man kann auch sagen: Das Erdbebenrisiko ist das <br>
			mathematische Produkt aus Erdbebengefährdung  <br>
			und zu erwartenden Verlust.<br>
			</p>
			</li>
			
			<li class="item">
			<h2><b>Erdbebenrisiko</b></h2>
			<br><p>
			Geoelektrische Verfahren eignen sich sowohl <br>
			für die Erkundung des geschichteten <br>
			Untergrundaufbaus als auch zur Abgrenzung <br>
			lateraler Gesteinswechsel und stellt ein <br>
			Teilgebiet der Angewandten Geophysik dar.<br>
			</p>
			</li>
			
			<div class="item item-divider">
				G
			</div>
			
			<li class="item">
			<h2><b>Georadar</b></h2>
			<br><p>
			Das Georadar ist zur Zeit die modernste <br>
			und potentiell leistungsfähigste <br>
			geophysikalische Methode zur Erfassung <br>
			oberflächennaher Strukturen, vor allem in <br>
			der archäologischen Prospektion.<br>
			</p>
			</li>
			
			<li class="item">
			<h2><b>Gravimetrie</b></h2>
			<br><p>
			Das Schwerefeld der Erde wird durch die <br>
			Dichteverteilung der Erde sowie durch <br>
			deren Rotationsverhalten determiniert.<br>
			Das Conrad Observatorium am Trafelberg <br>
			der ZAMG beherbergt ein Supraleitendes <br>
			Gravimeter, das derzeit genaueste Instrument <br>
			zur Erfassung von zeitlichen Schwereänderungen <br>
			ist.<br>
			</p>
			</li>
			
			<li class="item">
			<h2><b>Gravimetrie</b></h2>
			<br><p>
			Seit Beginn des 20. Jahrhunderts werden<br>
			Erdbeben im zunehmenden Maße auch<br>
			instrumentell erfaßt. Mit Hilfe von Seismometern<br>
			können heute bereits sehr kleine Bodenbewegungen<br>
			in der Größenordnung von einigen Nanometer, also<br>
			wenigen milliardstel Meter, nach Größe und<br>
			Richtung als Funktion der Zeit erfaßt werden.<br>
			</p>
			</li>
			
			<div class="item item-divider">
				I
			</div>
			
			<li class="item">
			<a style="h2"><b>Intensität</b></a>
			<br><br><p>
			Das Magnetfeld der Erde entsteht durch <br>
			Dynamo - Prozesse im Erdkern und bildet einen <br>
			Schutzschirm gegenüber energiereicher <br>
			solarer und kosmischer Strahlung.<br>
			<br>
			Dieses Feld unterliegt jedoch kontinuierlichen <br>
			Schwankungen in seiner Stärke und Richtung. <br>
			Erdmagnetfeldvariationen, bedingt durch <br>
			Prozesse im Erdkern, finden auf <br>
			unterschiedlichsten Zeitskalen von Jahren bis <br>
			hin zu Jahrmillionen statt und werden unter <br>
			dem Begriff Säkularvariation zusammengefasst.<br>
			</p>
			</li>
			
			<div class="item item-divider">
				M
			</div>
			
			<li class="item">
			<h2><b>Magnitude</b></h2>
			<br><p>
			Seit Beginn des 20. Jahrhunderts werden Erdbeben <br>
			im zunehmenden Maße auch instrumentell erfaßt. <br>
			Mit Hilfe von Seismometern können heute bereits <br>
			sehr kleine Bodenbewegungen in der Größenordnung <br>
			von einigen Nanometer, also wenigen milliardstel <br>
			Meter, nach Größe und Richtung als Funktion der <br>
			Zeit erfaßt werden.<br>
			</p>
			</li>
			
			<div class="item item-divider">
				O
			</div>
			
			<li class="item">
			<h2><b>Österreichischer Geophysikalischer Dienst</b></h2>
			<br><p>
			Die Geschichte des Österreichischen <br>
			Geophysikalischen Dienstes (ÖGD) der <br>
			Zentralanstalt für Meteorologie  und <br>
			Geodynamik (ZAMG) kann bis zur Mitte des <br>
			19. Jahrhunderts zurück verfolgt werden.<br>
			<br>
			Anläßlich des Erdbebens in Ljubljana in <br>
			Slowenien (1895) wurde dann der <br>
			Österreichische Erdbebendienst, der heute <br>
			vom ÖGD betrieben wird, gegründet. Heute <br>
			umfassen die Aktivitäten des ÖGD  <br>
			zusätzlich die Umweltgeophysik und <br>
			geophysikalische Bodenuntersuchungen.<br>
			</p>
			</li>
			
			<div class="item item-divider">
				P
			</div>
			
			<li class="item">
			<h2><b>Paläomagnetik</b></h2>
			<br><p>
			Paläomagnetismus zeigt die magnetische <br>
			Ausrichtung im Gesteinen zum Zeitpunkt <br>
			ihrer Ablagerung oder Bildung an. Die <br>
			Messung des remanenten Magnetismus an <br>
			Gesteinen ist ein wichtiges geophysikalisches <br>
			Hilfsmittel, dient zur Rekonstruktion der <br>
			Plattenbewegungen und zur historischen <br>
			Geologie bzw. Palökologie. <br>
			</p>
			</li>
			
			<div class="item item-divider">
				S
			</div>
			
			<li class="item">
			<h2><b>Säkularvariation</b></h2>
			<br><p>
			Die Änderung des magnetischen Kernfelds wird <br>
			als Säkularvariation bezeichnet, da sie relativ <br>
			langsam vor sich geht. <br>
			In Magnetfeldbeobachtungen ist sie erst über <br>
			mehrere Jahre als stetige Änderung von <br>
			Feldstärke und -richtung erkennbar.<br>
			</p>
			</li>
			
			<li class="item">
			<h2><b>Seismik</b></h2>
			<br><p>
			Die Seismik stellt ein Gebiet der Angewandten <br>
			Geophysik dar und umfasst Methoden, welche <br>
			die obere Erdkruste durch künstlich, anthropogen <br>
			erzeugte seismische Wellen erforschen und dadurch <br>
			in 3D – Modellen den Erduntergrund abbilde können.<br>
			</p>
			</li>
			
			<li class="item">
			<h2><b>Seismograph</b></h2>
			<br><p>
			Gerät zur vergrößerten Darstellung der <br>
			Bodenbewegungen, die von dem Seismometer <br>
			gemessen wurden. <br>
			Nicht zu verwechseln mit Seismologe.<br>
			</p>
			</li>
			
			<li class="item">
			<h2><b>Seismologie</b></h2>
			<br><p>
			Die Seismologie ist die Lehre von Erdbeben <br>
			und der Ausbreitung seismischer Wellen in <br>
			Festkörpern. Als Teilgebiet der Geophysik <br>
			ist sie die wichtigste Methode,<br>
			 um den inneren Aufbau der Erde zu erforschen.<br>
			</p>
			</li>
			
			<li class="item">
			<h2><b>Seismometer</b></h2>
			<br><p>
			Ein Seismometer ist ein Messgerät zur <br>
			Aufzeichnung von Bodenbewegungen.<br>
			Je nach Zweck der Erdbebenerfassung werden <br>
			verschiedene Systeme eingesetzt. Dazu zählen <br>
			kurzperiodische Systeme (hauptsächlich zur <br>
			Beobachtung von Nahbeben), Breitband-Seismometer <br>
			(für die Erfassung von Nah- und Fernbeben) und <br>
			Strong-Motion Sensoren zur Registrierung von <br>
			starken Bodenbewegungen im Epizentralbereich.<br>
			</p>
			</li>
			
			<li class="item">
			<h2><b>Strong-Motion-Stationen</b></h2>
			<br><p>
			Dieser Typ von Erdbebenstation dient <br>
			hauptsächlich dazu, sehr starke Bodenbewegungen <br>
			aufzuzeichnen, um deren Zusammenhang mit <br>
			möglichen Bauschäden feststellen zu können. <br>
			Außerdem eignen sich die Daten zur Bestimmung <br>
			der Verstärkungseffekte, die durch die <br>
			Beschaffenheit des Untergrundes hervorgerufen <br>
			werden können. <br>
			Aus diesem Grund sind in Wien seit <br>
			1992/1993 fünf Strong-Motion Geräte in Betrieb.<br>
			</p>
			</li>
			
			<div class="item item-divider">
				T
			</div>
			
			<li class="item">
			<h2><b>Tektonik</b></h2>
			<br><p>
			Lehre vom Aufbau der Erdkruste und den <br>
			Bewegungen und Kräften, die diese erzeugt haben. <br>
			Die Tektonik teilt sich in zwei Punkte auf: <br>
			1) spröd( bruchhaft - Erdbeben, klüftiges Gestein) <br>
			2) duktil( nicht bruchhaft - Falten im Gestein erkennbar)<br>
			</p>
			</li>
			
			<li class="item">
			<h2><b>Tomographie</b></h2>
			<br><p>
			Bei der Tomographie handelt es sich um eine seismische <br>
			Durchschallung von Bohrloch zu Bohrloch. Es werden <br>
			dabei mittels hydraulischem Scherwellenhammer in einem <br>
			Bohrloch seismische Schwingungen angeregt, während <br>
			im benachbarten Bohrloch mehrere Geophone die <br>
			Schwingungen empfangen. Die Laufzeit der Schwingungen <br>
			zwischen den Bohrlöchern gibt Aufschluss über die <br>
			Beschaffenheit des Untergrundes.<br>
			</p>
			</li>
			
			<div class="item item-divider">
				W
			</div>
			
			<li class="item">
			<h2><b>Weltraumwetter</b></h2>
			<br><p>
			Externe Feldvariationen werden hauptsächlich durch <br>
			solare und kosmische Ereignisse hervorgerufen. <br>
			Üblicherweise spielen sich diese Vorgänge auf <br>
			relativ kurzen Zeitskalen ab, von unter 1s bis <br>
			hin zu mehreren 10er Jahren. Zu den physikalischen <br>
			Phänomenen der kürzeren Vorgänge (Space Weather) <br>
			gehören magnetische Stürme, welche zum Beispiel <br>
			durch koronale Massenauswürfe (CME) der Sonne <br>
			bewirkt werden.<br>
			</p>
			</li>
			
		</div>
    </ion-content>
	<ion-footer-bar>
		<div class="bar bar-footer bar-assertive">
			<div class="bar bar-footer bar-assertive footer-button"><a class="button button-full button-clear" ng-click="scrollTop()">Zur&uuml;ck zur &Uuml;bersicht</a></div>
		</div>
	</ion-footer-bar>
</ion-view>