<ion-view view-title="Impressum">
    <ion-content delegate-handle="verhaltenContent" overflow-scroll=true>
	<div style="padding: 10px;">
	<h4>Medieninhaber und Herausgeber:</h4>
		<div class="list card">
		<div class="item">
			<b>Zentralanstalt für Meteorologie <br>und Geodynamik (ZAMG)</b><br><br>
			<b>Adresse:</b><br> 1190 Wien, Hohe Warte 38, Österreich<br><br>
			<b>Tel.:</b><br><a href="tel:+43136026" style="color:#000;">+43 1 36 0 26</a><br><br>
			<b>Fax:</b><br>+43 1 369 12 33<br><br>
			<b>E-Mail:</b><br><a href="mailto:dion@zamg.ac.at" style="color:#000;">dion@zamg.ac.at</a><br><br>
			Die Zentralanstalt ist eine <br>Forschungseinrichtung des BMWFW<br> (Bundesministerium für Wissenschaft, <br>Forschung und Wirtschaft).<br>
			<br>
			<b>Copyright: &copy; ZAMG</b>
		</div>
		</div>
	</div>
    </ion-content>
</ion-view>