<ion-view view-title="Übersicht">
    <ion-content>
		<div style="padding: 10px;">
		<h4>Etwa 40 Erdbeben werden pro Jahr verspürt</h4>
		<p>In Österreich werden von der Bevölkerung durchschnittlich 40 Erdbeben pro Jahr wahrgenommen - dies entspricht im Mittel 
		etwa drei Erdbeben pro Monat. Die meisten Beben machen sich durch ein deutliches Rütteln bemerkbar, doch etwa alle 
		zwei bis drei Jahre muss in Österreich auch mit leichten Gebäudeschäden durch ein stärkeres Erdbeben gerechnet werden. 
		Schwere Schäden an Gebäuden (I0 > 8&deg; EMS) kommen bedeutend seltener vor, hier beträgt die durchschnittliche Wiederkehrperiode 
		etwa 75 Jahre.</p>
		
		<div class="list card">
			<div class="item item-image" style="background-color:#fcfefc;">
				<img src="img/GefuehlteBeben_bis2014.gif" style="padding: 10px;">
			</div>
			<div class="item ">
				<h2>Gemeldete Erdbeben</h2>
				<p>2000 - 2014</p>
			</div>
		</div>
		
		<p>In den Jahren 2000 bis 2014 ereigneten sich die meisten fühlbaren Erdbeben in Tirol, gefolgt von Niederösterreich, Kärnten, 
		Steiermark, Vorarlberg, Oberösterreich, Salzburg und Burgenland. Starke Erdbeben können in weiten Teilen des Bundesgebietes 
		verspürt werden. Mehrmals pro Jahr werden Erdbeben, die sich im benachbarten Ausland ereignen, auch in Österreich von der 
		Bevölkerung wahrgenommen. Davon sind am häufigsten die Bundesländer Kärnten, Tirol und Vorarlberg betroffen.</p>
		
		<div class="list card">
			<div class="item item-image" style="background-color:#fcfefc;">
				<img src="img/BebenproBundesland2000-2014.gif" style="padding: 10px;">
			</div>
			<div class="item ">
				<h2>Gemeldete Erdbeben</h2>
				<p>Aufteilung Bundesl&auml;nder</p>
			</div>
		</div>
		
		<p>Die Anzahl der instrumentell registrierten und in Österreich lokalisierten Erdbeben beträgt etwa 600 pro Jahr, 
		also mehr als das Zehnfache der fühlbaren Ereignisse.</p>
		
		<br><h4>Die typischen Erdbebengebiete</h4>
		<p>Erdbeben entstehen, wenn sich Spannungen im Untergrund ruckartig lösen, die durch die Bewegung tektonischer 
		Platten aufgebaut wurden. In Europa wird das tektonische Spannungsfeld von der Adriatische Platte bestimmt, die 
		nach Norden driftet und auf die Eurasische Platte trifft. Eine Folge dieser Kollision ist die Auffaltung der Alpen, 
		die in Zusammenhang mit der Erdbebenaktivität steht.</p>
		
		<div class="list card">
			<div class="item item-image" style="background-color:#fcfefc;">
				<img src="img/Epizentrenkarte_von_OE_neu.jpg" style="padding: 10px;">
			</div>
			<div class="item ">
				<h2>Epizentrenkarte Österreichs</h2>
				<p>Darstellung aller gefühlten Beben<br> bis zum Jahr 2011</p>
			</div>
		</div>
		
		<p>Grundsätzlich können beinahe überall in Österreich Erdbeben vorkommen. Wie sich in der Epizentrenkarte deutlich abzeichnet, 
		liegen die meisten Erdbeben jedoch im Bereich der bedeutenden, tektonisch aktiven Zonen Österreichs.</p>
		
		</div>
    </ion-content>
</ion-view>