<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.quakewatch411119" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>QuakeWatch</name>
  <description>
        Die Erdbeben App fuer Oesterreich
    </description>
  <author email="hi@ionicframework" href="http://ionicframework.com/">
      Ionic Framework Team
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <!--
  <preference name="AutoHideSplashScreen" value="false"/>
  <feature name="SplashScreen">
    <param name="ios-package" value="CDVSplashScreen" onload="true"/>
  </feature>
  -->
  <!--<preference name="SplashScreen" value="none"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  -->
  <!-- Icon and SplashScreen for Android -->
  <platform name="android">
	<icon src="resources/icon.png"/>
  </platform>

  <!-- Icon and SplashScreen for iOS -->
  <platform name="ios">
	<icon src="resources/icon.png"/>
  </platform>
  
</widget>