/* Own Css */
div.footer-button a.button.button-full {
    width: 100%;
    margin-top: 0px;
}

.mymodal {
    width: 100%;
    top: 400px;
    left: 0%;
    right: 0%;
    bottom: 0%;
    height: 0%;
    /*max-height: 50%;*/


}

.bold{
    font-weight: bold;
}

.whiteButton {
    color:#fff;
}

.button-width-full {
    width: 100%;
}

.item.active, .item.activated, .item-complex.active .item-content, .item-complex.activated .item-content {
    border-color: #ffffff;
    background-color: #ffffff;
}

.text {
	width:100%;
	overflow: inherit ;
	text-overflow: inherit ;
	white-space: normal ;
}
#map {
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0,0,0);
}

.scroll {
    height: 100%;
}
.my-input {
    transition:0.5s linear all;
    background: white;
}
.my-input.ng-invalid {
    background: red;
    color:white;
}
.myScroll{
    width: 100%;
    height: 90% ;
}
.button.button-full{
    margin-bottom:0px;
}
.clearfixScroll{
    visibility: hidden;
}

.platform-ios .modalHeightFix{
    margin-top: -20px;
}

