/* Own Css */
div.footer-button a.button.button-full {
    width: 100%;
    margin-top: 0
}

.mymodal {
    width: 100%;
    top: 400px;
    left: 0%;
    right: 0%;
    bottom: 0%;
    height: 0%;
    /*max-height: 50%;*/


}

.bold{
    font-weight: bold;
}

.whiteButton {
    color:#fff;
}

.button-width-full {
    width: 100%;
}

.item.active, .item.activated, .item-complex.active .item-content, .item-complex.activated .item-content {
    border-color: #ffffff;
    background-color: #ffffff;
}

.text {
	width:100%;
	overflow: inherit ;
	text-overflow: inherit ;
	white-space: normal ;
}